html {
    font-family: 'Poppins', 'Zen Kaku Gothic Antique', 'sans-serif';
}

body {
    background: #f3f3f3;
    margin: 0;
}

h1, h2 {
    font-weight: normal;
}

header {
    background: #ffffff;
    height: 4rem;
    display: flex;
}

header h1 {
    font-size: 1.3rem;
    line-height: 4rem;
    margin: 0 0 0 1rem;
}

header .menu {
    margin-left: auto;
    line-height: 4rem;
    margin-right: 2rem;
}

footer {
    background: #ffffff;
    text-align: center;
    font-size: 0.5rem;
    line-height: 4rem;
    height: 4rem;
}

.contents {
    margin: 5% 10%;
}

.contents .bottom-menu {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    font-size: 0.8rem;
    padding: 5px;
    text-align: center;
}

a.btn {
    text-decoration: none!important;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: .1em;
    color: #212529;
    border-radius: 0.5rem;
}

a.btn-logout {
    border: 1px solid #000;
    border-radius: 0;
    background: #fff;
    letter-spacing: 0;
    padding: 0.2rem 1rem;
}

a.btn-logout:hover {
    color: #fff;
    background: #000;
}

.hide {
    display: none;
}

@media screen and (max-width: 480px) {
    header {
      height: 3rem;
    }
    header h1 {
      font-size: 0.8rem;
      line-height: 3rem;
    }
    header .menu {
      line-height: 3rem;
      margin-right: 3rem;
    }
    a.btn-logout {
      padding: 0.1rem 1rem;
      font-size: 10px;
    }
}
