.contents .emp-info {
    padding: 1rem;
    border: 1px solid #0074e8;
    background: #fafcff;
}

.contents .emp-info .action-icons {
    text-align: center;
    color: #0074e8;
    padding-bottom: 1rem;
}

.contents .emp-info .action-icons i {
    margin: 0.5rem;
}

.contents .emp-info .action-icons i:hover {
    color: #5fafff;
}

.contents .emp-info .emp-icon {
    width: 30%;
    margin: 0 auto;
}

.contents .emp-info .emp-icon img {
    width: 100%;
    height: 100%;
}

.contents table {
    width: 100%;
}

.contents table th {
    position: relative;
    text-align: right;
    width: 50%;
    padding-right: 2rem;
}

.contents table th:after {
    display: block;
    content: "";
    width: 40px;
    height: 1px;
    background-color: #0074e8;
    position: absolute;
    top: calc(50% - 1px);
    right: -1.4rem;
}

.contents table td {
    text-align: left;
    width: 70%;
    padding-left: 2rem;
}

.contents table td input {
    width: 100%;
}

a.btn-back, a.btn-add {
    border: 1px solid #000;
    border-radius: 0;
    background: #fff;
    margin: 1rem;
}

a.btn-back:hover, a.btn-add:hover {
    color: #0060c1;
    border: 1px solid #0060c1;
}

@media screen and (max-width: 480px) {
    .contents .emp-info .action-icons {
          font-size: 1em;
    }
    .contents table {
          font-size: 8px;
    }
}
