#loginForm {
    background: #fbfbfb;
    padding: 2rem;
    text-align: center;
}

/* 入力フォーム */
#loginForm input {
    width: 60%;
    margin: 0.5rem;
}

#loginForm input:focus {
    border: 1px solid #0074e8;
    outline: 0;
}

#loginForm .err-msg {
    color: red;
    font-size: 0.8rem;
}

/* ログインボタン */
#loginForm .btn-wrap {
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
}

#loginForm .btn-wrap a.btn-border {
    border-radius: 0;
}

#loginForm .btn-wrap a.btn-border:before,
#loginForm .btn-wrap a.btn-border:after {
    position: absolute;
    width: 100%;
    height: 1px;
    content: '';
    -webkit-transition: all .3s;
    transition: all .3s;
    background: #0074e8;
}

#loginForm .btn-wrap a.btn-border:before {
    top: 0;
    left: 0;
}

#loginForm .btn-wrap a.btn-border:after {
    right: 0;
    bottom: 0;
}

#loginForm .btn-wrap a.btn-border:hover:before,
#loginForm .btn-wrap a.btn-border:hover:after {
    width: 0;
}

@media screen and (max-width: 480px) {
    .description {
        font-size: 0.5rem!important;
    }
    #loginForm .btn-wrap {
        padding: 1rem 1rem 0rem 1rem;
    }
}
